:root {
    --color1: rgb(49, 49, 49);
    --8px: calc(8rem/16);
    --10px: calc(10rem/16);
    --12px: calc(12rem/16);
    --14px: calc(14rem/16);
    --16px: calc(16rem/16);
    --20px: calc(20rem/16);
    --24px: calc(24rem/16);
}